
- var comicss = ["Xmen","GIjoe","Flash","The Silver Surfer"]
- console.log(results);
- console.log(comicss);

doctype html
html
head
body
block content
h1= title
h2= "results from mongo:"
ul
    for comic in comicss
        div.card
            h2= comic