- var comics = !{comics};
- console.log("Loading Jade Homepage");

doctype html
html( lang="en", ng-app )
    head
        title Comics
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

    body.container(style="padding:5rem 0;background-color: #2b3e50;")
        .container
        .row
        .panel.panel-default(style="background-color: #cdd1d6;height:425px;")
            .panel-heading 
                h2 The Comic Collection App
                form.col-md-12(action='/comics/create',method='POST')
                    h5(style="padding:10px;") Add comic here

                    label(for='name') Comic Name:
                    input(type='text', name='name', id='name', class='form-control')

                    label(for='publisher') Publisher:
                    input(type='text', name='publisher', id='publisher', class='form-control')

                    label(for='issue') Issue:
                    input(type='text', name='issue', id='issue', class='form-control')
                    br
                    input(type='submit', class='btn btn-primary mb-2')
            for comic in comics 
                - console.log(comic.name);
                span comic.name

            div
                h1(data='List of Comics')
                for comic in comics
                    div.card
                        h2= comic.name

        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script( src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js' )